<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex</title>

    <link rel="stylesheet" href="/style.css" />
    <link href="http://fonts.cdnfonts.com/css/pokemon-solid" rel="stylesheet">


</head>
<body>
    <h1>Pokedex</h1>
    <a href="/pokemon/new">
        <button>Add New Pokemon</button>
    </a>
    <% for(let i = 0; i < data.length; i++) { %>

    <div id="container"></div>
        <div class="card">
                <a href="/pokemon/<%=i%>">
                    <img class="card_image" src=<%=data[i].img %> alt=<%=data[i].name %>>
                </a>
                <div class="card__details">
                <div class="name"><h3><%=data[i].name%></h3></div>
                <form action="/pokemon/<%=i%>?_method=DELETE" method="post">
                    <input type="submit" value="DELETE">
                </form>
                <a href="/pokemon/<%=i%>/edit">
                    <button>Edit</button>
                </a>
            </div>
        </div>
            <% } %>
        </div>
</body>
</html>